/* Estilos globais */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilos do cabeçalho */
header {
    background-color: #007bff;
    color: white;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos do contêiner principal */
main {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Estilos dos componentes */
link-form, link-list {
    display: block;
    margin-bottom: 1.5em;
}

h1, h2 {
    color: #333;
}

button {
    cursor: pointer;
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 0.9em;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #0056b3;
}

button.danger {
    background-color: #dc3545;
}

button.danger:hover {
    background-color: #c82333;
}

button.secondary {
    background-color: #6c757d;
}

button.secondary:hover {
    background-color: #5a6268;
}

input[type="text"],
input[type="url"] {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 0.5em;
    font-size: 0.9em;
    width: calc(100% - 1.2em); /* Ajuste para padding */
    box-sizing: border-box; /* Inclui padding na largura total */
    margin-bottom: 0.5em; /* Espaço abaixo dos inputs */
}

/* Estilos responsivos */
@media (min-width: 600px) {
    input[type="text"],
    input[type="url"] {
         width: auto; /* Largura automática em telas maiores */
         margin-bottom: 0;
    }
}
